html {
    scroll-behavior: smooth;
  }

body{
    background-color:whitesmoke;
    font-family: monospace;
    padding: 0 5% 5% 5%;
    
    margin: 0;
}
header h1{
    color: black;
}
.section{
    /* height: 70vh; */
    padding: 40px;
}

 .section.uno{
    background-color:orange;
}
.section.dos{
    background-color: rgb(242, 196, 12);
}
.section.tres{
    background-color: rgb(255, 225, 0);
}
.section.cuatro{
    background-color: rgb(251, 255, 0);
    

}

.nav{
    
    border-bottom: 1px solid black;
    width: 100%;
}
.nav-lista{
    list-style: none;
    display: table;
    /* flex-direction: row; */
    justify-content: space-around;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.nav-lista li {
    
    display: table-cell;
    width: 24%;
    
}
.nav-lista li a{
    text-decoration: none;
    color: black;
    
    font-size: 20px;
    padding: 25px 0px;
    width: 100%;
    display: block;
    text-align: center;
}
.nav-uno,
.nav-dos,
.nav-tres,
.nav-cuatro{
    transition: .4s;
    
    
}
.nav-cuatro:hover{
    background: rgb(251, 255, 0);
    
}
.nav-tres:hover{
    background: rgb(255, 225, 0);
}
.nav-dos:hover{
    background:  rgb(242, 196, 12);
}
.nav-uno:hover{
    background: orange;
}
.section img{
       width: 70%;
    height: auto;
     float: left; 
    margin-right: 10px;
    min-height: 100px;
    min-width: 210px;
}
.section p{
    font-size: 20px;
}
.clear{
    width: 100%;
    height: 1px;
    clear: both;
}

input{
    
    height: 20px;
    border-radius: 10px;
    background: whitesmoke;
}

.btn{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(166, 255, 0);
    border: none;
    border-bottom: 3px solid rgba(31, 156, 0, 0.8);
}
.menu-button{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: fixed;
    left: 5px;
    bottom: 5px;
    background-color: orangered;
    z-index: 6;
    font-size: 20px;
    display: none;
}
.nav-lista.active{
    position: fixed;
    left:0;
}
@media (max-width: 700px) {
    .nav-lista li a{
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .nav{
        border: none;
    }
    .nav-lista li a{
        font-size: 20px;
        width: 37vw;
    }
    .nav-lista{
        transition: .5s;
     list-style: none;
    display: flex;
    background: rgb(255, 115, 0);
    flex-direction: column;
    /* flex-direction: row; */
    align-items: self-start;
    justify-content: flex-start;
    width: 40%;
    margin: 0px;
    padding: 0px;
    position: fixed;
    height: 100vh;
    left: -50vw;
    top:0;
    padding: 10px;
    font-size: 30px;
    }
    .menu-button{
        display: block;
    }
    .nav-lista li {
        
         width: 100%; 
    }
}